.itemsList {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.item, .itemRegion {
  width: 50%;
  box-shadow: inset 0 -1px 0 0 var(--color-blue-grey);
  border: 1px solid var(--color-light-blue);
  border-radius: 4px;
  padding: 5px 10px;
  margin-bottom: 1px;
  font-size: calc(14px + var(--device-wv));
}
.item:hover {
  background-color: var(--color-light-blue);
}
.title, .titleRegion {
  text-align: center;
  font-size: calc(18px + var(--device-wv));
}
.index {
  font-size: 11px;
}
.country {
  font-size: 12px;
  font-style: italic;
}
/* Details */
.titleDetails {
  font-size: calc(22px + var(--device-wv));
}
.flag {
  width: 60px;
  font-weight: normal;
  font-size: 12px;
  vertical-align: middle;
}
.info {
  border: 1px solid var(--color-light-blue);
  border-radius: 2px;
  padding: 10px;
  font-size: 14px;
}
.infoItem {
  border-bottom: 1px solid var(--color-light-blue);
  padding: 5px;
}
.infoItemTitle {
  display: inline-block;
  color: var(--color-black-light);
  min-width: 100px;
}
.message {
  font-size: 12px;
  color: var(--color-red);
  text-align: center;
  margin-top: 10px;
}

.iconWikiData, .iconWiki, .iconGoogleMaps, .iconPhone, .iconCurrency {
  position: relative;
  vertical-align: middle;
  margin: -5px 0;
}
.iconWikiData {
  font-size: 25px;
  top: -2px;
}
.iconWiki {
  font-size: 22px;
  top: -2px;
  left: 1px;
}
.iconGoogleMaps {
  font-size: 20px;
  top: -3px;
  left: 3px;
}
.iconPhone {
  font-size: 20px;
  position: relative;
  top: -2px;
}

.currencyCode {
  font-size: 11px;
  border: 1px solid var(--color-dark-blue);
  border-radius: 3px;
  padding: 1px 5px 1px 0;
  margin-right: 10px;
}
.iconCurrency {
  font-size: 22px;
  top: -2px;
  left: -1px;
  margin-left: -8px;
}
/* Regions */
.wrapperRegions {
  border: solid 1px var(--color-blue-line);
  border-radius: 4px;
  padding: 10px;
  font-size: 14px;
  margin-top: 20px;
}
.titleRegion {
  font-size: calc(13px + var(--device-wv));
}
.itemRegion {
  font-size: calc(11px + var(--device-wv));
}

