.wrapper {
  position: relative;
}
.input, .submit {
  font-size: 15px;
  border: 1px solid var(--color-blue);
  border-radius: 4px 0 0 4px;
  line-height: 25px;
  padding: 0 5px;
}
.submit {
  cursor: pointer;
  border-left: none;
  border-radius: 0 4px 4px 0;
  background-color: var(--color-blue);
}
.submit:hover {
  background-color: var(--color-light-blue);
}
.icon {
  vertical-align: middle;
  font-size: 16px;
  color: var(--color-white);
}
.submit:hover .icon {
  color: var(--color-black);
}
.message {
  position: absolute;
  font-size: 12px;
  color: var(--color-red);
  text-align: center;
  margin-top: 2px;
}
