.wrapper {
  display: flex;
  background: var(--color-light-blue);
  width: 100vw;
  height: 100vh;
}
.main {
  display: flex;
  width: calc(100% - var(--width-navigation));
  flex-direction: column;
}
