.wrapper {
  display: flex;
  justify-content: center;
  padding: 15px;
  height: 100%;
}
.page {
  background-color: var(--color-white);
  width: var(--width-page);
  box-shadow: inset 0 -1px 0 0 var(--color-blue-grey);
  border: solid 1px rgba(183, 210, 229, 0.8);
  border-radius: 4px;
  height: 100%;
  padding: 10px;
}
