.wrapper {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  background-color: var(--color-blue);
  color: var(--color-white);
  height: var(--height-header);
  padding: 0 20px;
  z-index: 100;
}
.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: var(--width-page);
  padding: 0 15px;
}
.link, .linkActive  {
  border-radius: 2px;
  color: var(--color-white);
  cursor: pointer;
  vertical-align: middle;
  padding: 2px 10px;
}
.link:hover {
  text-decoration: underline;
}
.linkActive {
  color: var(--color-black);
  background-color: var(--color-light-blue);
}
.icon {
  font-size: 20px;
}
