.wrapper {
  display: flex;
  justify-content: center;
  background-color: var(--color-blue);
  color: var(--color-white);
  height: var(--height-header);
  padding: 0 20px;
}
.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: var(--width-page);
  padding: 0 15px;
}
.nav {
}
.settings {
  display: inherit;
}
.link, .linkActive  {
  color: var(--color-white);
  cursor: pointer;
  vertical-align: middle;
  margin-right: 20px;
}
.link:hover {
  text-decoration: underline;
}
.linkActive {
  font-weight: bold;
  cursor: auto;
}

.icon, .iconSetting {
  font-size: 20px;
}
.iconSetting {
  cursor: pointer;
}
.iconSetting:hover {
  animation: Icon-spin forwards .2s linear;
}

@keyframes Icon-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(30deg);
  }
}
